
			
{% extends "base.html" %}
{% block content %}

		<div class="col-md-10">


		<div class="row">
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle" />
		</div>
		<div class="col-md-10">

			<p class="text-left"> <b>{{ user.username }}</b>, {{user.birthday}}, {{user.gender}} </p>
			<p class="text-left">   </p>

		</div>
	</div>






{% for snapshot in snapshots %}

<div class="row">
		<div class="col-md-6">
			<div class="row">
						{% if 'pose' in snapshot   %}
								<div class="col-md-12">
								<b> Pose </b>: 
										t_x: {{snapshot.pose.t_x}}, t_y: {{snapshot.pose.t_y}}, t_z: {{snapshot.pose.t_z}}, r_x: {{snapshot.pose.r_x}}, r_y: {{snapshot.pose.r_y}}, r_z: {{snapshot.pose.r_z}}, r_w: {{snapshot.pose.r_w}}
								</div>
						{% else %}
								<div class="col-md-12">
								<b> Pose </b>: Not available 
								</div>
						{% endif %}
			</div>
			<div class="row">
						{% if 'feelings' in snapshot   %}
								<div class="col-md-12">
								<b> Feelings </b>: 
										hunger: {{snapshot.feelings.hunger}}, thirst: {{snapshot.feelings.thirst}}, exhaustion: {{snapshot.feelings.exhaustion}}, happiness: {{snapshot.feelings.happiness}}
								</div>
						{% else %}
								<div class="col-md-12">
								<b> Feelings </b>: Not available 
								</div>
						{% endif %}
			</div>
			<div class="row">
				<div class="col-md-12">
				<b> Posted </b>: {{snapshot.timestamp}} seconds ago
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<div class="row">

						
						{% if 'color_image' in snapshot   %}
								<div class="col-md-6">

								
							<img alt="Bootstrap Image Preview" src={{ url_for('static', filename=snapshot.color_image.path) }}  style="width:{{snapshot.color_image.width/10}}px;height:{{snapshot.color_image.height/10}};">
							
								</div>
						{% else %}
								<div class="col-md-6">
							<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
								</div>
						{% endif %}

						{% if 'depth_image' in snapshot   %}
								<div class="col-md-6">

								
							<img alt="Bootstrap Image Preview" src={{ url_for('static', filename=snapshot.depth_image.path) }}  style="width:{{snapshot.depth_image.width}}px;height:{{snapshot.depth_image.height}};">
							
								</div>
						{% else %}
								<div class="col-md-6">
							<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
								</div>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>

{% endfor %} 
							
</div>
{% endblock %}
